@model DLL.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="TenSp" class="control-label"></label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="ImageUrl" class="control-label"></label> *@
            @*     <input asp-for="ImageUrl" class="form-control" /> *@
            @*     <span asp-validation-for="ImageUrl" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label for="uploadedImage" class="control-label">Hình Ảnh</label>

                <!-- Hiển thị hình ảnh hiện tại nếu có -->
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <div>
                        <img src="@Model.ImageUrl" alt="Product Image" style="max-width: 200px; max-height: 200px;" />
                    </div>
                }

                <!-- Tùy chọn tải ảnh mới -->
                <input type="file" name="uploadedImage" asp-for="ImageUrl"   class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
