@model DLL.Models.User

@{
    ViewData["Title"] = "Reset Password";
}
<div class="container">
    <h3>@ViewData["Title"]</h3>
    @if (ViewData["error"] != null)
    {
        <div class="alert alert-danger">@ViewData["error"]</div>
    }
    <form asp-action="ResetPasswordConfirmation" method="post">
        <input type="hidden" name="Token" value="@ViewBag.Token" />
        <div class="form-floating mb-3">
            <input class="form-control" asp-for="Password" name="NewPassword" type="password" placeholder="New Password" />
            <label for="newPassword">Mật khẩu mới</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="confirmPassword" name="ConfirmPassword" type="password" placeholder="Confirm Password" />
            <label for="confirmPassword">Nhập lại mật khẩu</label>
        </div>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
    </form>
</div>
